process {
    withLabel: canu {
        container = "quay.io/biocontainers/canu:2.2--ha47f30e_0"
    }

    withLabel: minimap2 {
        container = "quay.io/biocontainers/minimap2:2.24--h7132678_1"
    }

    withLabel: racon {
        container = "quay.io/biocontainers/racon:1.5.0--h7ff8a90_0"
    }

    withLabel: medaka {
        container = "quay.io/biocontainers/medaka:1.7.1--py38h84d2cc8_0"
    }

    withLabel: seqkit {
        container = "quay.io/biocontainers/seqkit:2.3.0--h9ee0642_0"
    }
}
